<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    *{
        margin: 0;
        padding: 0;
    }
    footer {
        background: #333;
        color: white;
        text-align: center;
        /* height: 20vh; */
        padding: 20px;
        /* margin-top: 139px; */
    }
</style>

<body>
    <footer>
        <p>&copy; 2023 Akhilendra. All rights reserved.</p>
    </footer>
</body>

</html>